force-app/main/default/flows/DIA_NAV_Task_New_Conversation_Note_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Screenflow to create a new conversation note on the account on the related NAV task.</description>
    <interviewLabel>NAV Task New Conversation Note on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAV Task New Conversation Note on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the NAV Task record.</description>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_New_Conversation_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavTask__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_New_Conversation_Note</name>
        <label>Account New Conversation Note</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <flowName>CRM_Account_New_Conversation_Note_Screenflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_NAV_Task.CRM_Account__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ID of NAV Task</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
