force-app/main/default/flows/DIA_NAV_Task_Journal_Dialogue_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Verify if the user has access to the written messages in the dialogue.</description>
        <name>Check_Dialogue_Access</name>
        <label>Check Dialogue Access</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>DIA_DialogueAccessValidator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Access</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apiRefs</name>
            <value>
                <elementReference>Get_NAV_Task_Data.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Call apex to check the sobject type of the API reference.</description>
        <name>Get_Henvendelse_Object_Type</name>
        <label>Get Henvendelse Object Type</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>DIA_FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Object_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apiRefs</name>
            <value>
                <elementReference>Get_NAV_Task_Data.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Journal_Conversation_Note</name>
        <label>Journal Conversation Note</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <actionName>CRM_ConvNoteJournalHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Journal_Toast</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Person_NAV_Cases_0.selectedCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Person_NAV_Cases_0.selectedCaseLegacySystem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Person_NAV_Cases_0.selectedCaseTheme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Conversation_Note.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Journal_Toast</name>
        <label>Journal Toast</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Samtalen ble journalført</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Journalpost opprettet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_API_Reference</name>
        <label>Check API Reference</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>No_Reference_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Reference</defaultConnectorLabel>
        <rules>
            <name>Has_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_NAV_Task_Data.NKS_Henvendelse_BehandlingsId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Dialogue_Access</targetReference>
            </connector>
            <label>Has Reference</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Reference_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Undefined</defaultConnectorLabel>
        <rules>
            <name>Is_Thread</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Henvendelse_Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thread__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Thread_Info</targetReference>
            </connector>
            <label>Is Thread</label>
        </rules>
        <rules>
            <name>Is_Conversation_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Henvendelse_Object_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversation_Note__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Conversation_Note</targetReference>
            </connector>
            <label>Is Conversation Note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Access</name>
        <label>Verify Access</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Access_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Access</defaultConnectorLabel>
        <rules>
            <name>Has_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Dialogue_Access</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person</targetReference>
            </connector>
            <label>Has Access</label>
        </rules>
    </decisions>
    <interviewLabel>NAV Task Journal Dialogue - Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAV Task Journal Dialogue - Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query necessary conversation note details</description>
        <name>Get_Conversation_Note</name>
        <label>Get Conversation Note</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Conversation_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_API_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NAV_Task_Data.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Conversation_Note__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NAV_Task_Data</name>
        <label>Get NAV Task Data</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_API_Reference</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavTask__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NKS_Henvendelse_BehandlingsId__c</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the person record related to the NAV Task</description>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NAV_Task_Data.CRM_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>INT_ActorId__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query info from the related thread</description>
        <name>Get_Thread_Info</name>
        <label>Get Thread Info</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Journal_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_API_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_NAV_Task_Data.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Journal_Screen_0</name>
        <label>Journal Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Henvendelse_Object_Type</targetReference>
        </connector>
        <fields>
            <name>Person_NAV_Cases_0</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Person.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paddingBottom</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EMPTY</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Journalfør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Access_Screen</name>
        <label>No Access Screen</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Access_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Du har ikke tilgang til å journalføre denne dialogen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Reference_Error_Screen</name>
        <label>No Reference Error Screen</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Reference_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Oppgaven er ikke tilknyttet noen dialog.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Journal_Thread</name>
        <label>Journal Thread</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Journal_Toast</targetReference>
        </connector>
        <flowName>CRM_Thread_Create_Journal_Entry</flowName>
        <inputAssignments>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Person_NAV_Cases_0.selectedCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>Person_NAV_Cases_0.selectedCaseLegacySystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Person_NAV_Cases_0.selectedCaseTheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Thread_Info.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ID of the NavTask record</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
