force-app/main/default/flows/Patch_NAV_Task_Change_NAV_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_datetime</name>
        <label>Format datetime</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>CRM_FlowUtils</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Change_NAV_Unit</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>format</name>
            <value>
                <stringValue>dd.MM.yyyy HH:mm</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Process_NAV_Task</name>
        <label>Process NAV Task</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <actionName>CRM_NavTaskManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Callout</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>EDIT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>task</name>
            <value>
                <elementReference>NAV_TASK_RECORD</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Error_Toast</name>
        <label>Show Error Toast</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Flow_Complete_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Det oppstod en feil ved endring av enhetsbenk for oppgaven.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Oppdatering feilet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>error</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Show_Success_Toast</name>
        <label>Show Success Toast</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <actionName>c:fcFlowToaster</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Flow_Complete_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Enhetsbenk endret.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Oppdatering vellykket</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>NAV_Task_Assignment</name>
        <label>NAV Task Assignment</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>NAV_TASK_RECORD.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NEW_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_RECORD.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_NAV_Unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_comment</name>
        <label>Update comment</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMATTED_COMMENT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NEWLINE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NEW_COMMENT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NAV_TASK_RECORD.NKS_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NAV_Task_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Callout</name>
        <label>Validate Callout</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Show_Error_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_NAV_Task.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Salesforce_Task</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <formulas>
        <name>FORMATTED_COMMENT</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.CRM_NAV_Ident__c}),
&apos;--- &apos; + {!Format_datetime} + &apos; ---&apos;,
&apos;--- &apos; + {!Format_datetime}  + &apos; &apos; + {!$User.FirstName} + &apos; &apos; + {!$User.LastName} + &apos; (&apos; + {!$User.CRM_NAV_Ident__c} + &apos;, &apos; + {!$User.Department} + &apos;) ---&apos;
) + {!NEWLINE} + &apos;Tilordnet enhet ble endret fra Old_NAV_Unit til New_NAV_Unit.&apos;</expression>
    </formulas>
    <interviewLabel>Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Patch NAV Task Change NAV Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_NAV_Task</name>
        <label>Get NAV Task</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Format_datetime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>NavTask__c</object>
        <outputReference>NAV_TASK_RECORD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_NavUnit__c</queriedFields>
        <queriedFields>INT_External_Reference__c</queriedFields>
        <queriedFields>NKS_Task_Version__c</queriedFields>
        <queriedFields>NKS_Comments__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Salesforce_Task</name>
        <label>Update Salesforce Task</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Show_Success_Toast</targetReference>
        </connector>
        <inputReference>Process_NAV_Task.task</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_NAV_Unit</name>
        <label>Change NAV Unit</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_comment</targetReference>
        </connector>
        <fields>
            <name>New_NAV_Unit</name>
            <dataType>String</dataType>
            <fieldText>Ny enhetsbenk</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Lagre</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_Complete_Screen</name>
        <label>Flow Complete Screen</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete_Flow</name>
            <extensionName>c:fcFlowCompleter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>refreshRecord</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NAV_Task</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NEWLINE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!EMPTY_STRING}&lt;/p&gt;&lt;p&gt;{!EMPTY_STRING}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EMPTY_STRING</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NAV_TASK_RECORD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>NEW_COMMENT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Old_NAV_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>NAV_TASK_RECORD.CRM_NavUnit__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
